@font-face {
  font-family: 'BCC Purno';
  font-display: swap;
  font-style: normal;
  font-weight: 100 900;
  src: url('BCC Purno.woff2') format('woff2'),
       url('BCC Purno.woff') format('woff');
}
